{% extends "base.html" %} <br />
{%load static%} {%block script%}
<script src="{% static 'quizes/main.js'%}" defer></script>
<link rel="stylesheet" href="{% static 'quizes/main.css' %}" />
{%endblock%} {%block style%} {%endblock%} {% block content %}
<!-- Modal -->
<div
  class="modal fade"
  id="quizStartModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="example-body-confirm">Start?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" id="modal-body-confirm"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          NO
        </button>
        <button type="button" id="start-button" class="btn btn-success">
          YES
        </button>
      </div>
    </div>
  </div>
</div>

<div class="filter_container">
  <div class="cat_filter">
    <h5 class="text-center">Filter By Category</h5>
    <p class="text-center">Click On Your Desire Category</p>
    <hr>
    <div class="category d-flex flex-wrap mt-4">
      <a href="{%url "quiz"%}" class="text-decoration-none col-sm-4">All</a>
      {%for cat in category%}
         <div class="col-sm-4">
          <a class="text-decoration-none" href="{%url "cat_wise_post" cat.slug %}">{{cat.name}}</a>
         </div>
      {%endfor%}
    </div>
  </div>
</div>

<div class="quiz_container px-5 d-flex">
  <div class="quizes">
    <div class="d-flex flex-wrap justify-content-center mt-5">
      {%for obj in object_list%}
      <div class="col-sm-4 mt-3">
        <div class="card mx-3 mb-3">
          <div class="card-body">
            <h4>Exam No : {{obj.id}}</h4>
            <h5 class="card-title mb-3">{{obj.topic}}</h5>
            <div class="">
              <h6 class="mb-3">Category : <b>{{obj.category.name}}</b></h6>
              <h6 class="mb-3">Difficulty : <b>{{obj.difficulty.name}}</b></h6>
            </div>
            <p>
              You will get <b>{{obj.marks_per_right_answer}}</b> for Each Right
              Answers and <b>{{obj.deduct_marks_per_wrong_answer}}</b> Will
              Deducted for Each Wrong Answer
            </p>

            <div class="d-flex justify-content-between">
              <a
              href="#"
              class="btn btn-primary modal-button"
              data-pk="{{obj.pk}}"
              data-quiz="{{obj.category}}"
              data-questions="{{obj.number_of_Questions}}"
              data-difficulty="{{obj.difficulty}}"
              data-time="{{obj.time}}"
              data-pass="{{obj.required_to_pass}}"
              data-bs-toggle="modal"
              data-bs-target="#quizStartModal"
              >Show Details</a
            >

            <a 
            href="{%url "lead_view" obj.id%}" 
            class="btn btn-primary"
            data-pk="{{obj.pk}}"
            >Leaderboard</a>

            <a 
            href="{%url "rating_view" obj.id%}" 
            class="btn btn-primary"
            data-pk="{{obj.pk}}"
            >Ratings</a>
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</div>
{%endblock%}
