.img{
    width: 150%;
}

.description{
    margin-top: 90px;
    width: 50%;
}

.container{
    margin-top: 25px;
    display: flex;
    margin-left: 80px;
}

.notice_container{
    margin-top: 50px;
    margin-left: 20%;
    border: 2px solid antiquewhite;
    background-color: antiquewhite;
    height: 350px;
    width: 60%;
    margin-bottom: 5%;
    padding-left: 2%;
    border-radius: 10px;
}

.notice_title{
    color: red;
    margin-left: 40%;
    margin-top: 5%;
}

.logo_img{
    width: 90px;
}

.name{
    color: white;
}

@media only screen and (max-width: 400px){
    .container{
        flex-direction: column-reverse;
        margin-left: 00px;
    }

    .img{
        width: 100%;
    }
    
    .description{
        margin-top: 10px;
        width: 100%;
    }

    .notice_container{
        margin-top: 10px;
        margin-left: 0%;
        height: 620px;
        width: 100%;
    }

    .notice_title{
        color: red;
        margin-left: 0%;
        margin-top: 5%;
    }
     

}