.reg_container{
    background-color: #B2BEB5;
}

.form{
    border: 2px solid white;
    border-radius: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: white;
    height: 50%;
}

.auth_container{
    display: flex;
    justify-content: space-around;
    gap: 10%;
    margin-left: 2%;
}

.form{
    width: 50%;
}

.img{
    width: 50%;
}
