{% extends 'base.html' %} {% load crispy_forms_tags %} {%load static%} <br />
{%block script%}
<link rel="stylesheet" href="{% static 'accounts/authstyle.css' %}" />
{%endblock%} {%block title%}
<title>{{type}} Page</title>
{%endblock%} {% block content %}

<div class="form">
  <form style="margin: auto" method="post">
    {%for m in messages%}
    <div
      class="alert alert-{{m.tags}} alert-dismissible fade show"
      role="alert"
    >
      <strong>{{m}}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {%endfor%}

    <h1>{{type}} Page</h1>
    {% csrf_token %} {{form | crispy}}
    <button class="btn btn-warning mb-5">Submit</button>
  </form>
</div>

{% endblock %}
