{% extends 'base.html' %} {% load crispy_forms_tags %} {%load static%} <br />
{%block script%}
<link rel="stylesheet" href="{% static 'accounts/auth.css' %}" />
{%endblock%} {%block title%}
<title>{{type}} Page</title>
{%endblock%} {% block content %}
<div class="reg_container">
  <div class="auth_container">
    <div class="form">
      <form style="margin: auto" method="post">
        <h1>{{type}} Page</h1>
        {% csrf_token %} {{form | crispy}}
        <button class="btn btn-warning mb-5">Submit</button>
      </form>
    </div>

    <div class="img">
      <h1>Image</h1>
    </div>
  </div>
</div>

{% endblock %}
