{% extends "base.html" %}<br />
{%load static%}{%block script%}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}" />
{%endblock%}
{%block style%}
{%endblock%} {%block content%}
  <div class="user_info">
    <h2>Image</h2>
    <h4>Welcomee to Your Profile</h4>
    <h2>
      <span class="username"
        >{{request.user.first_name }} {{request.user.last_name}}</span
      >
    </h2>
    <p>{{request.user.email }}</p>
  </div>
  <hr class="user_hr">
</div>

<div class="quiz_progress">
  <h3>Quiz Progress Report</h3>
  <h6>Total Quizes: {{progress.total_quizes}} </h6>
  <h6>Complete Quizes: {{progress.completed_quizes}} </h6>
  <h6>Percent: {{progress.percent_of_attempts}} %</h6>
  <div class="progress prg_bar">
    <div class="progress-bar " role="progressbar" style="width: {{progress.percent_of_attempts}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
<div class="res_sheet mt-5">
  <h3 class="text-center">Result Sheet</h3>
   <div class="table-responsive-sm">
    <table class="table">
      <thead>
          <tr>
              <th scope="col">Exam Name</th>
              <th scope="col">Full Marks</th>
              <th scope="col">Obtained Marks</th>
              <th scope="col">Percent of Correct Answer</th>
          </tr>
      </thead>
    
      <tbody>
        {%for res in result%}
          <tr>
            <td>{{res.exam_name}}</td>
            <td>{{res.fullMarks}}</td>
            <td>{{res.score}}</td>
            <td>{{res.percent}} %</td>
          </tr>
        {%endfor%}
      </tbody>
    </table>
   </div>
</div>
{%endblock%}