{% extends "base.html" %} {%load static%} {%block script%}
<link rel="stylesheet" href="{% static '/css/style.css' %}" />
{%endblock%} {%block content%}
<div class="container">
  <div class="description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dolores
      enim tempore. Quidem odio reiciendis reprehenderit, laborum corrupti
      aliquid rerum laudantium odit explicabo quam quia ad vero molestias
      perspiciatis ratione inventore itaque ex fuga, culpa animi eos sit tenetur
      illum ut. In dolorem labore nemo voluptas eveniet minima provident
      suscipit voluptate et vel quas, eos eius expedita placeat repellat
      officiis a quaerat quod, laudantium libero recusandae dolores voluptatum
      incidunt earum! Velit sed magnam at molestias! Id ducimus aut dicta iste
      possimus quaerat nam repudiandae assumenda? Ad harum vel totam fugiat, a
      veritatis beatae, facere ut quidem deserunt illo assumenda hic.
    </p>
  </div>

  <div class="img-container">
    <img class="img" src="{% static '/image/quiz_ban.png'%}" alt="" srcset="" />
  </div>
</div>

<div class="notice_container">
  <div class="notice">
    <h3 class="notice_title">Notice Board</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nemo
      voluptates quaerat! Tempora recusandae iusto nobis dolore aspernatur odio
      commodi, obcaecati repellendus magnam animi suscipit natus cumque rerum,
      quasi nihil doloremque modi excepturi earum ex molestiae ipsum. Delectus,
      repellendus! Fugiat laborum nostrum harum eum ipsum culpa eaque, pariatur
      odit magnam unde quos vero exercitationem aspernatur molestiae deserunt
      quo ducimus sed cum reprehenderit, nihil optio ipsam non inventore dicta?
      Adipisci eum cupiditate assumenda! Eveniet perspiciatis reiciendis ullam
      non soluta alias tempora veritatis, minus nesciunt temporibus ducimus quam
      sunt vitae nemo quibusdam tempore animi fugiat reprehenderit beatae
      aspernatur voluptate pariatur. Eligendi natus ad earum eius sint ullam at
      blanditiis, veniam atque ipsa error quo consequatur soluta facere,
      asperiores explicabo eaque assumenda excepturi tempore, non porro corporis
      rerum vel dolores. Qui, architecto non.
    </p>
  </div>
</div>

<div class="faq_container">
  <div class="faq_title">
    <h2 class="">Common Questions and Answers</h2>
  </div>

  <div class="accordion_container">
    <div class="accordion w-100 pb-5" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <h5>Why This Quizes ?</h5>
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>To Enrich Your Knowledge and Get a Good Preparation for Job</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            <h5>Do You Have any Paid Courses?</h5>
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>
              We don't have any paid course yet . If we arrange it , we will
              inform you if u a registered user
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            <h5>I have more Questions ......</h5>
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>Ok !!!!</p>
            <p>
              Please Mail Your Question on
              <strong>asifmahim58@gmail.com</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
